@import '../../utils/variables';
@import '../../utils/mixins';

.about {
  text-align: center;
  color: #fff;
  margin-bottom: 80px;

  &__container {
    &:before {
      content: '';
      display: block;
      width: 63px;
      height: 56px;
      background-image: url('../../images/kite.png');
      margin: 0 auto 24px;
    }

  }

  @include onTablet {
    max-width: 480px;
    margin: 0 auto 80px;
  }
}