@import './fonts.scss';
$bgColor: #181717;
$activeColor: #307ea9;
$activeColorHover: #266d94;

$fontsForTitle: 'SquadaOne';
$lightFont: 'Promt-Light';
$regularFont: 'Promt-Regular';
$mediumFont: 'Promt-Medium';
$boldFont: 'Promt-Bold';