@font-face {
  font-family: 'SquadaOne';
  src: url('../fonts/SquadaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Promt-Regular';
  src: url('../fonts/Prompt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Promt-Bold';
  src: url('../fonts/Prompt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Promt-Light';
  src: url('../fonts/Prompt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Promt-Medium';
  src: url('../fonts/Prompt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}